# Ignore everything inside the helpers/ folder
helpers/

# Ignore any file that starts with "SECRET_" in any subdirectory
*/SECRET_*
*/ERROR_*
/67.ENA_isolates_28-10-24/
/67.ENA_isolates_28-10-24*
/67.ENA_isolates_28-10-24/*
/TEST/
./TEST/*

.DS_Store
.vscode
